{% extends "base.html" %}

{% block content %}
<h1> Edit Your Profile </h1>
<form action="" method="post" name="edit">
	{{ form.hidden_tag() }}
<table>
	<tr>
		<td>Your nickname: </td>
		<td>{{ form.nickname(size=20) }} </td>
		{% for error in form.errors.nickname %}
		<br><span style="color:red;">[{{ error }}]</span>
		{% endfor %}
	</tr>
	<tr>
		<td>Change your age: </td>
		<td>{{ form.age(size=5) }} </td>
		{% for error in form.errors.age %}
		<br><span style="color:red;">[{{ error }}]</span>
		{% endfor %}
	</tr>
	<tr>
		<td>About yourself: </td>
		<td>{{ form.about_me(cols=30, rows=4) }} </td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Update Profile"></td>
	</tr>
</table>
</form>

{% endblock %}
