<table class="table table-hover">
	<tr>
	  <td width="70px"><img src="{{ friend.avatar(60) }}"></td>
	  <td><i><strong>
	   <a href="{{ url_for('user',nickname=friend.nickname) }}"> {{ friend.nickname }}:  </a>
	  </strong></i>
	  <br>
	   {{ friend.friend.count() }} 
	   {% if friend.friend.count()!=1 %} Friends 
	   {% else %} Friend {% endif %}
	  <br>
	   {% if friend.bff_id!=None %}
		 Best Friend: <a href="{{ url_for('user', nickname=friend.get_bff().nickname) }}">{{ friend.get_bff().nickname }} </a>
	   {% else %}
		 No Best Friend.
	   {% endif %}
	  <br>
	    {% if friend.last_seen == None %} <b>Never logged in!</b> 
	    {% else %} {{ momentjs(friend.last_seen).calendar() }} 
  	    {% endif %} 
	  </td>
	</tr>
	<br>
</table>
